Recordings
.Skype
.Xauthority
.adobe
.bash_history
.bash_logout
.cache
.dmenu_cache
.esd_auth
.fehbg
.git
.gnome
.gnome2
.local
.lyrics
.macromedia
.mozilla
.node_repl_history
.notes.txt.swp
.npm
.pki
.plaidchat-tray.png
.pulse-cookie
.steam
.steampath
.steampid
.viminfo
Desktop
Downloads
Music
Screenshots
Work
notes.txt

