xfer.conf
xfer
weechat.log
trigger.conf
sec.conf
script.conf
script
ruby
relay.conf
plugins.conf
python
alias.conf    
aspell.conf   
charset.conf  
exec.conf     
guile              
logger.conf   
logs          
lua           
perl          

